#Basic Config
BOT_TOKEN=
ADMIN_TEAM=
MONGO_URI=
TIMEZONE=Asia/Colombo

# Bot Config
AUTO_CONFIG=True
BOT_NAME=Contactgram Bot
BOT_DESCRIPTION="Welcome to the Contactgram Bot! 📲 Type, forward, or upload anything you'd like to send to your admin! ☎️📞"
BOT_SHORT_DESCRIPTION="Welcome to the Contactgram Bot! Send me your message, and I'll make sure it reaches your admin right away!"
SET_BOT_CMD=True
ENABLE_DETAILED_FORWARD=True
WELCOME_MESSAGE="Hello, and thank you for reaching out! 👋
You've connected with <i>the admin</i>, and I'm here to assist you.

🔹 <b>How can I help?</b>
Whether it's a question, a suggestion, or just a conversation, feel free to share. Your message will get the attention it deserves. 🌟

🔹 <b>Stay tuned!</b>
I aim to provide thoughtful, personalized responses. Your time is valuable, and I’ll respond as soon as possible.

📝 <code>Get in touch below and let’s get started!</code>

Looking forward to hearing from you. 😊"

# Keep empty for turn off sending welcome image with welcome text
WELCOME_IMAGE_URL=https://i.ibb.co/y7vrKLy/image-2025-01-31-121250127.png

START_WEB_APP=True
QUART_SECRET_KEY=Any_String=>More_Randomness=More_Secure|Do_not_use_"$"
WEB_APP_PORT=2222
SAVE_MESSAGES=True
INTERFACE_ACCESS_PASSWORD=Any_String|Do_not_use_"$"

ENABLE_CMD_LOGS=True
ENABLE_BUTTON_CLICK_LOGS=True
WEB_APP_URL=http://localhost:8080 # Your domain or server ip (If you use domain, use provided nginx template. Read Readme for more info)