server {
    listen 80;
    listen [::]:80;
    server_name your-domain.com;  # Replace with your domain or IP address

    location / {
        proxy_pass http://localhost:2222;  # Forward requests to port 2222 or if you change port in settings.env change the port here too
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
}
